<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overpass Query Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="map"></div>
    <form id="query-container">
        <input id="query-input" type="text" placeholder="Enter your query" name="query">
        <button id="submit-btn" type="button">Submit</button>
    </form>
    <div id="error-msg"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

